body {
    background-image: url(Night\ Sky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

.topBar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-image: url("Flying\ Kirby.gif");
    background-size: contain;
    background-repeat:repeat;
    border-style: solid;
    border-color: rgb(75, 64, 64);
    box-shadow: white 0px 0px 15px;
    border-collapse: separate; 
    border-radius: 10px;
    overflow: hidden;
}

.nameBar {
    background-color: rgba(156, 202, 215, 0.652);
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    width: fit-content;
    position: relative;
    font-family: Arial, sans-serif;
    font-size: 12px; 
    font-weight: bold;
    color: #0837ba;
    text-shadow: 2px 2px 5px rgba(39, 190, 137, 0.5);
    box-shadow:#0533ff 0px 0px 15px;
    text-align: center;
}

.container {

}